<!-- Validation failure messages -->
<% if @destination.errors.any? %>
  <% @destination.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add New Trip</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_destination" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for destination -->
      <div class="form-group">
        <label for="destination" class="control-label">
          Trip Name
        </label>

        <input type="text" id="destination" name="destination" placeholder="Trip Name" class="form-control" value="<%= @destination.destination %>">
      </div>

      <!-- Label and input for country -->
      <div class="form-group">
        <label for="country" class="control-label">
          Country
        </label>

        <input type="text" id="country" name="country" placeholder="Country" class="form-control" value="<%= @destination.country %>">
      </div>

      <!-- Label and input for comments -->
      <div class="form-group">
        <label for="comments" class="control-label">
          Comments
        </label>

        <textarea type="text" id="comments" name="comments" placeholder="Comments" class="form-control" rows="3"><%= @destination.comments %></textarea>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= @user_id %>">
      </div>

      <button class="btn btn-success">
        Create Destination
      </button>
      or
      <a href="/destinations">Cancel</a>
    </form>
  </div>
</div>
