<div class="page-header">
  <div class="col-md-12">
    <h3><%= @daily.activity %></h3>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Date</dt>
      <dd><%= @daily.day %></dd>

      <dt>Activity</dt>
      <dd><%= @daily.activity %></dd>

      <dt>Location</dt>
      <dd><%= @daily.location %></dd>

      <dt>Comments</dt>
      <dd><%= @daily.comments %></dd>
    </dl>
  </div>
</div>

<hr>

<div class="row col-md-12 text-right">
  <a href="/destinations/<%= @daily.destination_id %>" class="btn btn-primary btn-s"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
  <a href="/dailies/<%= @daily.id %>/edit" class="btn btn-warning btn-s"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
  <a href="/delete_daily/<%= @daily.id %>" class="btn btn-danger btn-s"rel="nofollow"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
</div>
